# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# uzun süreli kullanılmayan dosyalar
src/app/unUsed/

# kısa süreli gitignore dosyaları

# Temporary files - do not push - YAP sil sonra
src/app/components/Footer.module.css
src/app/components/FooterNextPageNotCompleted.js
src/app/contact/
src/app/contact/page.js
src/app/usecase/
src/app/globals copy.css

# MainContent-OldFirstHero.js
src/app/components/MainContent-OldFirstHero.js

# SHOWCASE DEĞİŞİKLİKLERİ GİZLEDİM - videolar gelince gider.

# product adoption
# src/app/product-adoption/page.js


# deneme
src/app/deneme
src/app/deneme/page.js

# product adoption
src/app/product-adoption/
src/app/product-adoption/page.js



src/app/showcase/page copy 1 LinearGradientliVideoÖncesi.js
src/app/showcase/page copy 2.js
src/app/showcase/page copy 2AiOverleyli.js
src/app/showcase/page copy 3VideoOverlayli.js
src/app/showcase/page copy 4Son.js
src/app/showcase/page copy 5Son.js
src/app/showcase/page copy 6son.js
src/app/showcase/page copy 7Videolu.js
src/app/showcase/page copy.js
src/app/showcase/ShowcaseCards copy.js
src/app/showcase/ShowcaseCards.module copy.css
src/app/showcase/.DS_Store

# Showcase
src/app/showcase/page copy 3videosuzEski.js
src/app/showcase/ShowcaseCards copy 2videolu.js
src/app/showcase/ShowcaseCards.module copy 2videolu.css

/blog-module
/sanity-cms