@import "tailwindcss";

/* 
  //*   xs:  320px --
  //*   sm:  640px
  //*   md:  768px
  //*   lg:  1024px
  //*   xl:  1280px --
  //*   2xl: 1536px 

  sm: md: lg: xl:
*/


@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sfPro/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Runde';
  src: url('/fonts/openRunde/OpenRunde-Regular.woff2') format('woff2'),
       url('/fonts/openRunde/OpenRunde-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Runde';
  src: url('/fonts/openRunde/OpenRunde-Medium.woff2') format('woff2'),
       url('/fonts/openRunde/OpenRunde-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
  --breakpoint-xs: 320px;

  /* --font-Inter: Inter, sans-serif; */

  /* --color-renk: #cccc34; */


  /* --spacing-256px: 16rem;
  --spacing-512px: 32rem;

  --text-13: 13px;
  --text-15: 15px;
  --text-17: 17px; */
  --font-sfPro: "SF Pro", sans-serif;
  --font-openRunde: "Open Runde", sans-serif; 

}

@theme inline {
  --font-sans: var(--font-inter);
}

@layer utilities {
  :root {
    width: 100%;
    height: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    --font-geist: "Geist", sans-serif;
    --font-fraunces: "Fraunces", serif;
    --font-urbanist:   "Urbanist", sans-serif;
    --font-instrument-serif: "Instrument Serif", serif;
  }
  
  .text-package-sm {
    font-size: 0.875rem; /* text-sm : 14px */
    font-weight: 400; /* font-medium : 500 */
    line-height: 1rem; /* leading-4 : 16px */
    letter-spacing: 0.14px; /* tracking-[0.14px] */
  }
  
  .font-feature-settings-salt {
    font-feature-settings: 'salt' on;
  }

  .bg-footerLineGradient {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%),
                      linear-gradient(90deg, #47C2FF 0%, #F6B51E 8.3%, #1FC16B 16.6%, #335CFF 24.9%, #FF3200 33.2%, #7D52F4 41.5%, #47C2FF 49.8%, #F6B51E 58.1%, #1FC16B 66.4%, #335CFF 74.7%, #FF3200 83%, #7D52F4 91.3%, #47C2FF 100%);
  }


  .font-rethinkSans {
    font-family: var(--font-rethink-sans);
  }

  .font-Geist {
    font-family: var(--font-geist);
  }

  .font-Fraunces {
    font-family: var(--font-fraunces);
  }

  .font-sfPro {
    font-family: var(--font-sfPro);
  }

  .font-openRunde {
    font-family: var(--font-openRunde);
  }
   
  .font-Urbanist {
    font-family: var(--font-urbanist);
  }

  .font-instrumentSerif {
    font-family: var(--font-instrument-serif);
  }
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  /* ! overflow hidden cornered line üst alt çizgi 100vw iken geliyor 
  ! - yoksa aşşağıdakileri aç -
  !  tarayıcı scroll barları kadar genişliği kadar piksel düş - 8px falan */
  /* overflow-x: hidden; */
  /* overflow: scroll; */
  overflow-x: clip;
}

/* scroll barı gizler */
::-webkit-scrollbar {
  /* display: none; */
}