.linearLine {
  position: absolute;
  top: 116px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #222222, white);
}

.dotIcon {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.bottomText {
  width: max-content;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #777777;
  font-family: var(--font-inter);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.18px;
}
