.mainTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.subTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.paragraph {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.bulletList {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
} 