.cell {
  border-right: none;
  border-bottom: 1px solid #222221;
  
  @media (min-width: 640px) {
    border-right: 1px solid #222221;
    
    &:nth-child(2n) {
      border-right: none;
    }
    
    &:nth-last-child(-n+2) {
      border-bottom: none;
    }
  }
  
  @media (min-width: 1024px) {
    &:nth-child(2n) {
      border-right: 1px solid #222221;
    }
    
    &:nth-child(4n) {
      border-right: none;
    }
    
    &:nth-last-child(-n+4) {
      border-bottom: none;
    }
  }
  
  &:last-child {
    border-bottom: none;
  }
}
